[submodule "oneiota/models"]
	path = oneiota/models
	url = https://github.com/OpenInterConnect/IoTDataModels.git
[submodule "ipso/models"]
	path = ipso/models
	url = https://github.com/IPSO-Alliance/pub.git
